BODY {
	background: black;
	background-image:url('../image/starfield.jpg');
	background-size: 100%;
	color: #ffffff;
	background-attachment:fixed;
	}

.small {
	font-size:smaller;
}

a         { text-decoration: none; }
a:link    { color: #CC00FF; }
a:visited { color: #9966CC; }
a:active  { color: #FF00FF; }
a:hover   { color: #6600FF; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-table;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


#wrapper {
	width: 770px;
	margin: 0px auto 0px auto;
	}

#menubar {
	width: 100%;
	}

#content {
	background: black;
	width: 765px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

#pagetitle{
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}

#titleimage{
	float:center;
	width:766px;
	height:236px;
}

#center{
	text-align: center;
	float: center;
    margin: 0 auto;
	width: 750px;
}

#history{
	text-align: center;
	float: center;
    margin: 0 auto;
	width: 50%;
}

#footer{
	float:right;
	position:fixed;
	right:0;
	bottom:0;
	height:35px;
	margin: 0px 10px 0px 0px;
}

#event {
	border: 10px;
	border-color: black;
	border-style: solid;
	background-color: #3A3A3A;
	text-align: center;
}

#eventphoto {
	height: 240px;
	width: 423px;
}

#eventdescription {
	color: white;
}

#eventdate {
	color: white;
}

#photoblock {
	border: 10px;
	border-color: black;
	border-style: solid;
}
