<div id="content">
      <div id="pagetitle">Coming up this year</div>

      <div class="facebook_events" ng-show="facebook_loaded">
        <div ng-show="view_past" id="pagetitle"><a href="" ng-click="togglepast()"><h3><b>Back to current events.</b></h3></a></div>
        <div ng-repeat="event in events | orderBy : event.start_time : !view_past">
          <div id="event">
            <div>
              <a ng-href="https://www.facebook.com/events/{{event.id}}"><h3><b>{{ event.name }}</b></h3></a>
              <h5 id="eventdate">{{ event.start_time | date : "dd MMM, yyyy" }}</h5>
            </div>
            <div>
              <a ng-href="https://www.facebook.com/events/{{event.id}}"><img id="eventphoto" ng-src="{{ event.cover.source }}"></a>
  				    <p id="eventdescription">{{ event.description }}</p>
              <p id="eventdescription">When: {{ event.start_time | date : "hh:mm a"}}</p>
              <p id="eventdescription">Where: {{ event.place.name }} <a ng-show="'Map Link' == getLoc(event.place.location)" href="http://maps.google.com/?q={{event.place.location.latitude}},{{event.place.location.longitude}}">{{ getLoc(event.place.location) }}</a></p>
            </div>
          </div>
        </div>
        <div ng-show="!view_past" id="pagetitle"><a href="" ng-click="togglepast()"><h3><b>Click here to see previous events!</b></h3></a></div>
      </div>
</div>
